@font-face {
  font-family: ProximaNova;
  src:
    url(ProximaNova-Regular.ttf) format('ttf'),
    url(ProximaNova-Regular.woff) format('woff'),
    url(ProximaNova-Regular.eot) format('eot');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src:
    url(ProximaNova-Semibold.eot) format('eot'),
    url(ProximaNova-Semibold.woff) format('woff'),
    url(ProximaNova-Semibold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: ProximaNovaCondensed;
  src:
    url(ProximaNovaCond-Regular.eot) format('eot'),
    url(ProximaNovaCond-Regular.woff) format('woff'),
    url(ProximaNovaCond-Regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNovaCondensed;
  src:
    url(ProximaNovaCond-Semibold.eot) format('eot'),
    url(ProximaNovaCond-Semibold.woff) format('woff'),
    url(ProximaNovaCond-Semibold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: ProximaNovaCondensed;
  src:
    url(ProximaNovaCond-Black.eot) format('eot'),
    url(ProximaNovaCond-Black.woff) format('woff'),
    url(ProximaNovaCond-Black.ttf) format('ttf');
  font-weight: 900;
}
